.profile {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
  }
  
  .profile__sidebar {
    display: flex;
    margin-right: 116px;
  }
  
  .profile__clothes-section {
    display: flex;
    flex-direction: row;
    margin-bottom: 80px;
  }

  @media  screen and (max-width: 627px) {

    .profile__sidebar {
      display: flex;
      margin: 0;
    }

    .profile__clothes-section {
      display: flex;
      flex-direction: column;
      margin-bottom: 0;
    }

}