.modal__content-delete {
    position: absolute;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 670px;
    height: 280px;
    border-radius: 20px;
  }
  
  .modal_opened {
    visibility: visible;
  }
  
  .modal__delete-text {
    color: #000000;
    max-width: 367px;
    padding: 0;
    margin:0 0 40px;
    text-align: center;
  }
  
  .modal__delete-confirm {
    color: #FF4D00;
    background: none;
    border: none;
    margin-bottom: 24px;
  }
  
  .modal__delete-cancel {
    color: #000000;
    background: none;
    border: none;
  }