.header {
    display: flex;
    align-items: center;
    padding: 32px 0 28px;
}

.header__logo {
    margin-right: 24px;
}

.header__avatar-placeholder {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ccc;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }
  

.header__date-location {
    margin: 0;
    font-size: 20px;
    line-height: 24px;
}

.header__mobile-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    right: 15px;
    z-index: 10;
}

.header__menu-button {
    display: none;
}

.header__mobile-menu_close {
    display: none;
}

.header__clothes-button {
    margin: 0 12px 0 auto;
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    background-color: transparent;
    font-size: 16px;
}

.header__user-container {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-right: 12px;
}

.header__username {
    margin: 0;
}

.header__user-link {
    text-decoration: none;
    color: #000;
}

.header__buttons-container {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header__login-button {
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    background-color: transparent;
    font-size: 16px;
}

.header__logout-button {
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    background-color: transparent;
    font-size: 16px;
}

.header__register-button {
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    background-color: transparent;
    font-size: 16px;
}

@media  screen and (max-width: 627px) {
    .header {
        padding: 0;
        margin: 0;
        display: contents;
    }

    .header__logo {
        width: 89px;
        height: 40px;
        padding-bottom: 32px;
    }

    .header__date-location {
        padding-bottom: 16px;
    }

    .header__menu-button {
        display: block;
        position: absolute;
        background-image: url(../../assets/mobile-menu.svg);
        background-repeat: no-repeat;
        background-size: contain;
        border: none;
        width: 44px;
        height: 44px;
        top: 18px;
        right: 16px;
    }

    .header__mobile-menu {
        display: none;
        position: fixed;
        width: 100%;
        top: 18px;
        left: 16px;
        right: 16px;
        background-color: #fff;
        z-index: 1;
    }

    .header__mobile-menu_close {
        background-image: url(../../assets/close-button2.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-color: transparent;
        border: none;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 11px;
        right: 11px;
    }

    .header__mobile-menu_opened .header__mobile-menu_close {
        display: block;
    }

    .header__mobile-menu_opened {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 400px;
        height: 208px;
        margin: auto;
        border-radius: 8px;
        box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.2);
    }

    .header__clothes-button {
        border: none;
        background-color: transparent;
        margin: 0;
        padding-top: 24px;
    }

    .header__user-container {
        margin: 0;
    }
}