.sidebar {
    display: flex;
    flex-direction: column;
    max-width: 260px;
    gap: 16px;
}

.sidebar__user-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.sidebar__avatar {
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

.sidebar__username {
    width: 157px;
    height: 25px;
  }

.sidebar__button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.sidebar__edit-profile-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.sidebar__logout-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}