.clothes__section {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.clothes__section-header {
    height: 24px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.clothes__section-button {
    border: none;
    background-color: transparent;
    color: #00000099;
}

.clothes__section-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 20px;
}

.clothes__empty-message {
  text-align: center;
  padding: 24px;
  font-size: 16px;
  color: #666;
}


@media  screen and (max-width: 627px) {

    .clothes__section {
        flex-direction: column;
    }

    .clothes__section-list {
        flex-direction: column;
    }
}